{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Shop Zone !</h1>
      <p>My Shop Zone Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Kritika Sharma and Henna Kapoor in 2019. So what are the facts that got us started?s My Shop Zone founded in 2019 as an idea for creating a range of fun souvenirs for India and Indians. It was a simple thought. Let’s give the world something cool to take back from their travels to India. We also loved design and that was always above everything. Period. Though little did we know what was to follow. What started with souvenirs stocked in multi brand outlets soon transformed itself into a business spanning stores across the country in both our large format, full experience stores and pop up stores across popular malls and high streets.

</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>My Shop Zone Story</h2>
        <p>Launched in May, 2019 as an internship project for P.D.M University under the guidance of Mentor Ms. Monika. Now reaching the skies!!.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p></div>
      <div class="col-md-4">
        <h2>What is Myshopzone.com ?</h2>
        <p>Myshopzone.com is an attempt by a team who want to bring the best of e-commerce experience to the Indian customers. You would find genuine products of leading brands here. Quality of service and privacy of our customers is top most priority for us.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Have suggestions for us?</h2>
        <p>We are always interested in feedback from our customers. What they want next? Please feel free to write to us at kritikasharma12211@gmail.com</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}